<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tjänster</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <header class="philip-dropdown-header">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Hem</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="hej.html">Produkter</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="Tjänster.html">Tjänster</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="Kontakt.html">Kontakt</a>
            </li>
        </ul>
    </header>

    <footer class="philip-modal-footer">  
    </footer>

</body>
</html>